.head, .link {
    font-size: 24px;
    color: #F9FAF8;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.head, .hero, footer {
    background-color: #1F2937;

}

.hero{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.herotext , .linktext{
    font-size: 18px;
    color: #e5e7eb;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    align-items: center;
    align-content: center;
}

.container {

}

body {

}

.quote, .thor {
    background-color: #e5e7eb;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.thor {
    font-weight: 800;
    font-style: normal;
}

.callaction, button {
    background-color: #3882F6;
}

footer{
    color: #F9FAF8;
}