.head {
font-size: 24px;
color: #F9FAF8;
}

.head, .hero, footer {
    background-color: #1F2937;
}

.hero{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.herotext , .linktext{
    font-size: 18px;
    color: #e5e7eb;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container {

}

body {

}

.quote, .thor {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.thor {
    font-weight: 800;
    font-style: normal;
}

.callaction, button {
    background-color: #3882F6;
}

footer{
    color: #F9FAF8;
}