header, .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
}

.nav-list li {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    flex-shrink: 1;
}

body {
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.herocontainer {
    background-color: #1F2937;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.heromain {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 48px;
}

.herotext {
    font-weight: 100;
    font-size: 18px;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #F9FAF8;
}

.heroimg {
    background-size: 500px;
    background-color: grey;
    align-self: center;
    color: #F9FAF8;
}

.info_text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    background-color: white;
    color: #1F2937;
}
.columns {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: white;
    color: #1F2937;
}

h4 {
    border: 5px solid #3882f6;
    height: 125px;
    border-radius: 10px;
}

.columns > * {
    flex: 1;
}

.quote, .quotetext {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:#E5E7EB;
    color:#1F2937;
    align-items: baseline;
}

.quotetext {
    font-style: italic;
    align-self: flex-start;
}

.thor {
    font-size: 36px;
    font-style: bold;
    align-self: flex-end;

}

.banner, .signup {
    
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}